.pageContainer[data-page-index='0'] {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    height: 100%;
    width: 100%;

    background-color: rgb(109, 109, 109);
}

.inputsWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

    height: 50%;
    width: 100%;
    padding: 4% 20%;
}

#analyzeButton {
    cursor: pointer;

    width: 40%;
    height: 2.2em;

    margin-top: 1em;
    padding: 0.3em;

    border: 1px solid rgb(148, 148, 148);
    border-radius: 14px;
    background-color: rgb(109, 109, 109);


    font-size: 1.4em;
    font-weight: 900;

    color: white;
    text-align: center;


    transition: transform cubic-bezier(.1, -1.5, .1, 2.5) 0.8s,
        box-shadow ease 0.8s,
        background-color ease 0.4s,
        color ease 0.4s;
}

#analyzeButton:focus,
#analyzeButton:hover {
    outline: none;
    box-shadow: 0 3px 14pt -4pt rgb(148, 148, 148);
    color: rgb(109, 109, 109);
    background-color: rgb(255, 255, 255);
    border: none;

    transform: translateY(-3px);
}

#analyzeButton:hover {
    transform: translateY(-4px);
}

.tableWrapper   {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 50%;


    color: white;
    text-align: center;
}

#results h1 {
    color: rgb(255, 255, 255);
    font-weight: 900;
}

.error {
    display: none;

    color: rgb(221, 0, 0);
    font-size: 0.7em;
    text-align: center;
}